.blog-head {
  color: #464646;
  font-family: 'Lato', sans-serif;
}

.blog-head-separator {
  color: #464646;
  font-family: 'Lato', sans-serif;
}

.blog-title {
  color: #5e5e5e;
  font-family: 'Lato', sans-serif;
}

.blog-content {
  color: #787878;
  font-family: sans-serif;
}

.href-text {
  color: #2796ff;
  font-family: sans-serif;
}

.date-and-hour-credits {
  color: #c0c0c0;
  font-family: 'Lato', sans-serif;
}
