h1.blog-head {
  color: #464646;
  font-family: 'Lato', sans-serif;
}

h4.blog-head-separator {
  color: #464646;
  font-family: 'Lato', sans-serif;
}

h1.blog-title {
  color: #5e5e5e;
  font-family: 'Lato', sans-serif;
}

h2.blog-content {
  color: #787878;
  font-family: sans-serif;
}
