h1.header-dts-text {
  color: #4f4f4f;
  font-family: 'Lato', sans-serif;
}

h2.header-recentnews-text {
  color: #636363;
  font-family: 'Lato', sans-serif;
}

h1.firstentry-desc {
  color: #9b9b9b;
  font-family: 'Lato', sans-serif;
}

a.title-hrefblog {
  color: #9b9b9b;
  font-family: 'Lato', sans-serif;
}

